MONGO_URI=your_mongodb_connection_string_here
JWT_SECRET=your_jwt_secret_key_here
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key_here
NODE_ENV=development  #change this to production when deploying the app
CLIENT_ORIGIN=http://localhost:5173 #change this to your frontend URL when deploying the app